
    <div class="card">
  <h2 class="card-header">Create New Listing</h2>
  <form class="card-body" id="new-listing-form">
    <input type="hidden" name="listing-id" value="{{Listing.id}}"/>
    <div>
      <label class="form-label">Job Title:</label>
      <input class="form-input" type="text" name="job-title"/>
    </div>
    <div>
      <label class="form-label">Business Name:</label>
      <input class="form-input" type="text" name="business-name"/>
    </div>
    <div>
      <label class="form-label">Job Location:</label>
      <input class="form-input" type="text" name="job-location"/>
    </div>
    <div>
      <label class="form-label">Job Description </label>
      <textarea class="form-textarea form-input" name="post-body" data-number="8"></textarea>
    </div>
     <div>
      <label class="form-label">Contact Email:</label>
      <input class="form-input" type="email" name="contact-email"/>
    </div>
    <div>
      <label class="form-label">Job Posted Date:</label>
      <input class="form-input" type="datetime-local" name="posted-date"/>
    </div>
 
    <button class="btn btn-primary">CREATE</button>
  </form>
</div>
<script src="/js/newlisting.js"></script>
