
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/job-board-project-2/public/style/style.css">
    </head>
    <div class="card" style="border-style: solid;">
  <h2 class="card-header">Create New Listing</h2>
  <form class="card-body" id="new-listing-form">
    <input type="hidden" name="listing-id" value="{{Listing.id}}"/>
    <div>
      <label class="form-label">Job Title:</label>
      <input class="form-input" type="text" name="job-title"/>
    </div>
    <div>
      <label class="form-label">Business Name:</label>
      <input class="form-input" type="text" name="business-name"/>
    </div>
    <div>
      <label class="form-label">Job Location:</label>
      <input class="form-input" type="text" name="job-location"/>
    </div>
    <div>
      <label class="form-label">Job Description </label>
      <textarea class="form-textarea form-input" name="post-body" data-number="8"></textarea>
    </div>
     <div>
      <label class="form-label">Contact Email:</label>
      <input class="form-input" type="email" name="contact-email"/>
    </div>
    <div>
      <label class="form-label">Job Posted Date:</label>
      <input class="form-input" type="datetime-local" name="posted-date"/>
    </div>
 
    <button class="btn btn-primary">CREATE</button>
  </form>
</div>
<script src="/job-board-project-2/controllers/api/listingRoutes.js"></script> <!-- LISTING ROUTES -->

<!-- make sure this submits!!!!!! -->
