<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Postings</title>
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}

</head>

<body> <!-- add links to nav buttons -->
    <header class="heroes" style="border-style: solid; background-color: aquamarine;">
        <nav class= "navbar">
        <ul>
            <li style="text-align: right; list-style-type: none;"><a href="../jobboard.handlebars"> Job Listings </a> </li>
            <li style="text-align: right; list-style-type: none;"><a href="../partials/dashboard.handlebars"> Dashboard </a> </li>
            <li style="text-align: right; list-style-type: none;"> <a href="../login.handlebars"> Login </a></li>
        </ul>

    </nav>
        <h1 class="hero" style="text-align: center;">JOB BOARD</h1> 
    </header>

    <main>
        {{{body}}}
    </main>

<footer>
    <p></p>
</footer>        
    
    {{#each js}}
        <script src="/js/{{this}}"></script>
    {{/each}}

</body>

</html>