<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Postings</title>
</head>

<body> <!-- add links to nav buttons -->
    <header class="hero">
        <nav class= "navbar">
        <ul>
            <li>Job Listings</li>
            <li>Dashboard</li>
            <li><a href="/login">Login</a></li>
        </ul>

    </nav>
        <h1>JOB LISTINGS</h1> 
    </header>

    <main>
        {{{body}}}
    </main>

<footer>
    <p></p>
</footer>        
    
</body>

</html>